body {
  width: 20rem;
}

.topButtons {
	
}

.groupButtons {
	
}

.topButtons {
	
}

.toSave-list {
	text-align: center;
}

.sort-box {
	
}

.search-box {
	
}

.toLoad-list {
	text-align: center;
}