body {
    background: #7e84a8;
    width: 455px;
}

.namegroup {
    display: none;
}
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/indieflower/v17/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Delius';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/delius/v15/PN_xRfK0pW_9e1rdZsg_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Bubblegum Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bubblegumsans/v16/AYCSpXb_Z9EORv1M5QTjEzMEteaOxIL_bw.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Bubblegum Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bubblegumsans/v16/AYCSpXb_Z9EORv1M5QTjEzMEteaAxII.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
input[type=checkbox] {
    width: auto;
    margin-left:3px;
    margin-right: 10px;
    float:right;
    display: inline-block;
}
li{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
#tabsToSaveList {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}
.saveList {
    margin-bottom: 5px;
    font-size: 14px;
    white-space: pre-wrap;
    max-width: 370px;
    min-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
input {
    padding: 2px;
    border-radius: 6px;
    font-size: 12px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 20px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}
    /* focus input: focus{
        border: 2px solid #000;
        border-radius: 4px;
    } */

select {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 14px;
    color: #1c87c9;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    font-family: "Delius";
}
.prettybuttons {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: #cae8ff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 6px 9px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    font-family: "Bubblegum Sans";
}
    .prettybuttons:hover {
        box-shadow: 4px 4px 0 #000;
        transform: translate(-4px,-4px);
    }

    .prettybuttons:focus-visible {
        outline-offset: 1px;
    }

.prettybuttons2 {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: #cae8ff;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 10px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 6px 9px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    font-family: "Bubblegum Sans";
}

    .prettybuttons2:hover {
        box-shadow: 4px 4px 0 #000;
        transform: translate(-4px,-4px);
    }

    .prettybuttons2:focus-visible {
        outline-offset: 1px;
    }
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 10px auto;
    padding: 5px;
}

    .mytabs input[type="radio"] {
        display: none;
    }

    .mytabs .tab {
        font-family: Delius;
        width: 100%;
        padding: 20px;
        background: #b2b7d9;
        order: 1;
        /*
            comment this display out, when adding new elements, makes it easier
            */
        display: none;
    }

        .mytabs .tab h2 {
            font-size: 3em;
        }

    .mytabs input[type='radio']:checked + label + .tab {
        display: block;
    }

    .mytabs input[type="radio"]:checked + label {
        background: #b2b7d9;
    }

.fancyLabels {
    padding: 20px;
    height: 20px;
    font-size: 25px;
    background: #bab0af;
    font-weight: bold;
    font-family: "Bubblegum Sans";
}

.indielbl {
    font-family: "Indie Flower";
    font-size: 20px;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

    .selectBox select {
        width: 100%;
        font-weight: bold;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

    #checkboxes label {
        display: block;
    }

        #checkboxes label:hover {
            background-color: #1e90ff;
        }

.arrow-button {
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
    height: 3px;
    width: 3px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: transparent;
    border-bottom: transparent;
    background: transparent;
    left: 3px;
    top: 3px;
    transform: rotate(45deg);
    transform: rotate(225deg);
    vertical-align: 5px;
}

.editbtn {
    display: inline-flex;
    float:right;
    margin: auto;
    margin-top: 8px;
    margin-left: 2px;
}
.deleteTabBtn {
    display: inline-flex;
    float: right;
}
